@import "tailwindcss";


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.98) rotate(-19deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(-19deg);
  }
}